<tr>
<td class="main_mots">

<% if flash[:notice] -%>
  <div id='notice'><%= flash[:notice] -%></div>
<% end -%>
  
<h1> Hi </h1> <%= @user.name %>
<h1> Your current e-mail is: </h1> <p> <%=@user.email%></p>
</td>

<%= link_to "Dont want to forgot you M.O.T, schedule a reminder now", root_path  %>
<td>
      <% unless @user.mots.empty? %>
        <table class="mots" summary="Your booked M.O.T's">
          <%= render @mots %>
         
       
        </table>
        <%= will_paginate @mots %>
      <% end %>
</td>

</tr>
