<h1> All Current M.O.T bookings:</h1>
<div id="calendar">
  <h2 id="month">
   <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m") %>
    <%=h @date.strftime("%B %Y") %>
    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m") %>
  </h2>

  <% calendar_for @mots, :year => @date.year, :month => @date.month do |calendar| %>
  <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
  <% calendar.day(:day_method => :created_at) do |date, mots| %>
  <%= date.day %>
     <ul>
      <% for mot in mots %>
        <li><%= link_to h(mot.user.name), mot.user %></li>
      <% end %>
     </ul>
  <% end %>
<% end %>
</div>
